.nav {
  z-index: 2;
  position: fixed;
  padding: 0.7rem 1rem;
  width: 100%;

  &-list-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    color: set-text-color($primary-color);
  }
  &-list {
    display: flex;
    flex-flow: row wrap;
  }
  &-item {
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
  &-link {
    &:hover {
      color: $secondary-color;
      cursor: pointer;
      font-weight: 600;
      @include easeInOut;
    }
  }
  &-black {
    background: $primary-color;
    color: set-text-color($primary-color);
    z-index: 1;
  }
}
.hamburger {
  position: absolute;
  display: none;
  z-index: 3;
  right: 25px;
  top: 25px;
  cursor: pointer;
  @include easeOut;
}
.btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0; // top right bottom left
  background: set-text-color($primary-color);
  @include easeOut;
}
.logo:hover {
  cursor: pointer;
}
