@include mediaMd {
  section {
    margin-left: auto;
    margin-right: auto;
  }
  //Nav
  .hamburger {
    display: flex;
    flex-direction: column;
  }
  .nav {
    &-list {
      position: fixed;
      top: 0;
      left: -100%;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      background: darken($primary-color, 5);
      width: 100%;
      height: 100%;
      padding: 1.6rem 0;
      transition: all 300ms ease-in-out;
      opacity: 0.9;
      overflow: hidden;
    }
    &-show {
      left: 0%;
      // transform: rotate(180deg);
    }
    &-close {
      transform: rotate(180deg);
      .btn-line {
        // Line 1 -rotate
        &:nth-child(1) {
          // background: red; // use to test
          transform: rotate(45deg) translate(5px, 5px);
        }
        // Line 2 - hide
        &:nth-child(2) {
          opacity: 0;
        }
        //Line 3 - rotate
        &:nth-child(3) {
          transform: rotate(-45deg) translate(7px, -6px);
        }
      }
    }
    &-link {
      display: inline-block;
      position: relative;
      font-size: 20px;
      text-transform: uppercase;
      padding: 1rem 0; //top-bottom left-right
      font-weight: 300;
    }
  }

  .about {
    &-grid {
      display: grid;
      grid-template-areas:
        "bioimage"
        "bio";
      grid-template-columns: repeat(1, 1fr);
      padding: 0 2rem;
    }
  }
  .skills {
    &-grid {
      display: grid;
      grid-template-areas:
        "skill1"
        "skill2"
        "skill3";
      grid-template-columns: repeat(1, 1fr);
      padding: 0 2rem;
    }
    &-row{
      display: grid;
      row-gap: 0.2rem;
      column-gap: 0.5rem;
      padding: 0rem 1rem;
      margin-left: 50px;
      margin-top: 10px;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .contact {
    &-screen {
      height: 48vh;
    }
  }
}
@include mediaSm {
  .projects {
    &-card {
      height: 69vh;
    }
    &-content {
      min-height: calc(69vh - 45px); //making the btns stick to the bottom
    }
    &-btns {
      height: 30px;
    }
    &-languages {
      height: 15px;
    }
  }
  .home{
    &-button{
      visibility: visible;
    }
  }
}
