.nav {
  z-index: 99;
  position: fixed;
  padding: 0.7rem 1rem;
  width: 100%;
}
.nav-list-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  color: #fff;
}
.nav-list {
  display: flex;
  flex-flow: row wrap;
}
.nav-item:not(:last-child) {
  margin-right: 1.5rem;
}
.nav-link:hover {
  color: #1dacff;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}
.nav-black {
  background: #000;
  color: #fff;
  z-index: 1;
}

.hamburger {
  display: none;
}

.btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #fff;
  transition: all 0.5s ease-out;
}

.logo:hover {
  cursor: pointer;
}

#home {
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../images/laptopcode.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  line-height: 1.5;
  z-index: -1;
}
#home h1 {
  margin-top: 20vh;
}

#about {
  color: #000;
}

.about-grid {
  display: grid;
  padding-top: 1rem;
  row-gap: 30px;
  column-gap: 30px;
  grid-template-areas: "bioimage bio bio";
  grid-template-columns: repeat(3, 1fr);
}
.about-image {
  grid-area: bioimage;
  width: 250px;
  height: 250px;
  margin: auto;
  border-radius: 50%;
  border: #1dacff 3px solid;
}
.about-bio {
  grid-area: bio;
  font-size: 1.5rem;
}

.skills-grid {
  display: grid;
  padding: 1rem;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-areas: "skill1 skill2 skill3";
  grid-template-columns: repeat(3, 1fr);
}
.skills-1 {
  grid-area: skill1;
}
.skills-2 {
  grid-area: skill2;
}
.skills-3 {
  grid-area: skill3;
}
.skills-img {
  height: 50px;
  width: 50px;
  margin-left: 180px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.skills-img:hover {
  cursor: pointer;
  transition: 2.5s;
  /* Transition duration */
  transform: scale(1.09);
  -o-transform: rotate(720deg);
  -ms-transform: rotate(720deg);
  -moz-transform: rotate(720deg);
  -webkit-transform: rotate(720deg);
  transform: rotate(720deg);
}
.skills-Image {
  background-color: #1dacff;
  padding: 70px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 100px;
  object-fit: contain;
}
.skills-title {
  margin-bottom: 10px;
}
.skills-row {
  display: grid;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  padding: 0 1rem;
  margin-top: 10px;
  grid-template-columns: repeat(7, 1fr);
}
.skills-technologies h2 {
  padding: 0 1rem;
  margin-top: 10px;
}
.skills-tech-img {
  width: 60px;
  height: 60px;
  filter: grayscale(100%);
}
.skills-tech-img:hover {
  cursor: pointer;
  filter: none;
  transform: scale(1.09);
  transition: 2.5s;
  /* Transition duration */
  transform: scale(1.09);
  -o-transform: rotate(720deg);
  -ms-transform: rotate(720deg);
  -moz-transform: rotate(720deg);
  -webkit-transform: rotate(720deg);
  transform: rotate(720deg);
}
.skills-tech {
  text-transform: capitalize;
  display: none;
}
.skills-tech-container:hover .skills-tech {
  display: block;
}

.skill {
  background: #1a1a1a;
  padding: 0.5rem;
  border-bottom: #1dacff 5px solid;
  color: #fff;
}

.projects-card {
  background: white;
  padding: 0.5rem;
  height: 70vh;
  border-bottom: #1dacff 5px solid;
  color: #000;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
  transition: transform 450ms;
}
.projects-card img {
  width: 100%;
  height: 222px;
  border-bottom: #000 5px solid;
}
.projects-card-content {
  min-height: calc(70vh - 70px);
}
.projects-title {
  font-weight: bold;
}
.projects-languages {
  height: 20px;
  font-family: "Roboto Mono", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  color: #1dacff;
}
.projects-btns {
  height: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.projects-live, .projects-github {
  color: #000;
  font-size: 10px;
  display: none;
}

.url-icon {
  font-size: 1.5rem;
  color: #000;
}

.btn-light:hover p {
  display: block;
}

.btn-dark:hover p {
  display: block;
}

.contact {
  /*--------------------------------------------------------------------------------------*/
}
.contact-wrapper {
  min-height: 100vh;
  padding-top: 70px;
  background-color: #1dacff;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  color: #fff;
}
.contact-background {
  display: flex;
}
.contact-container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}
.contact-header {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}
.contact-screen {
  position: relative;
  background: #fff;
  height: 60vh;
  border-radius: 15px;
}
.contact-screen::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: -1;
}
.contact-screenHeader {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #e4e4e1;
  background-image: radial-gradient(at top center, rgba(255, 255, 255, 0.03) 0%, rgba(0, 0, 0, 0.03) 100%), linear-gradient(to top, rgba(255, 255, 255, 0.1) 0%, rgba(143, 152, 157, 0.6) 100%);
  background-blend-mode: normal, multiply;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.contact-screenHeaderLeft {
  margin-right: auto;
}
.contact-close, .contact-maximize, .contact-minimize {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}
.contact-close {
  background: #1dacff;
}
.contact-maximize {
  background: #fff;
}
.contact-minimize {
  background: #000;
}
.contact-screenHeaderRight {
  display: flex;
}
.contact-screenHeaderEllipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}
.contact-screenBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contact-screenBodyItem {
  flex: 1;
  padding: 50px;
}
.contact-screenBodyItemLeft {
  margin-left: 25px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.contact-screenBodyItemRight {
  width: 45%;
  margin-right: 25px;
  margin-top: 10px;
}
.contact-appTitle {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #1dacff;
  font-size: 26px;
}
.contact-appTitle::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #1dacff;
}
.contact-contactForm {
  margin-bottom: 15px;
}
.contact-wrapInput {
  padding-bottom: 10px;
}
.contact-formInput {
  width: 100%;
  padding: 10px 0;
  font-size: 14px;
  background: none;
  outline: none;
  transition: border-color 0.2s;
  border: none;
  border-bottom: 1px solid #666;
}
.contact-formInput::placeholder {
  color: #666;
  text-transform: uppercase;
}
.contact-formInput:focus {
  border-bottom-color: #1dacff;
}
.contact-contactFormButton {
  font-size: 1rem;
  color: #1dacff;
  background-color: white;
  padding: 5px;
  outline: none;
  border-color: #1dacff;
}
.contact-contactFormButton:hover {
  cursor: pointer;
  background-color: #1dacff;
  color: white;
}

@media screen and (max-width: 768px) {
  section {
    margin-left: auto;
    margin-right: auto;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav-list {
    position: fixed;
    top: 8%;
    left: -100%;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background: black;
    width: 100%;
    height: 100%;
    padding: 1.6rem 0;
    transition: all 300ms ease-in-out;
    opacity: 0.9;
    overflow: hidden;
  }
  .nav-show {
    left: 0%;
  }
  .nav-close {
    left: -100%;
  }
  .nav-close .btn-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .nav-close .btn-line:nth-child(2) {
    opacity: 0;
  }
  .nav-close .btn-line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
  }
  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 20px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
  }

  .about-grid {
    display: grid;
    grid-template-areas: "bioimage" "bio";
    grid-template-columns: repeat(1, 1fr);
    padding: 0 2rem;
  }

  .skills-grid {
    display: grid;
    grid-template-areas: "skill1" "skill2" "skill3";
    grid-template-columns: repeat(1, 1fr);
    padding: 0 2rem;
  }

  .contact-screen {
    height: 47vh;
  }
}
@media screen and (max-width: 500px) {
  .projects-card {
    height: 68.5vh;
  }
  .projects-content {
    min-height: calc(68.5vh - 45px);
  }
  .projects-btns {
    height: 30px;
  }
  .projects-languages {
    height: 15px;
  }
}
#loader {
  min-height: 100vh;
  background: #000;
  padding-top: 50vh;
  padding-left: 50%;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3 {
  text-align: center;
  font-weight: 300;
}
h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 6rem;
  font-weight: 400;
}
h1.heading-lg,
h2.heading-lg,
h3.heading-lg {
  font-size: 4rem;
  text-transform: uppercase;
}
h1.heading-sm,
h2.heading-sm,
h3.heading-sm {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  background: rgba(5, 5, 5, 0.5);
}

.text-secondary {
  color: #1dacff;
}

section {
  min-height: 100vh;
}
section#about, section#skills, section#projects {
  padding-top: 50px;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h4 {
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
