.nav {
  z-index: 1;
  position: fixed;
  padding: 1.2rem 1rem;
  width: 100%;
}
.nav-list-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  color: #fff;
}
.nav-list {
  display: flex;
  flex-flow: row wrap;
}
.nav-item:not(:last-child) {
  margin-right: 1.5rem;
}
.nav-link:hover {
  color: #1dacff;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}
.nav-black {
  background: #000;
  color: #fff;
  z-index: 1;
}

#home {
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../images/laptopcode.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  line-height: 1.5;
  z-index: -1;
}
#home h1 {
  margin-top: 20vh;
}

#about {
  color: #000;
}

.about-grid {
  display: grid;
  padding-top: 1rem;
  row-gap: 30px;
  column-gap: 30px;
  grid-template-areas: "bioimage bio bio";
  grid-template-columns: repeat(3, 1fr);
}
.about-image {
  grid-area: bioimage;
  width: 250px;
  height: 250px;
  margin: auto;
  border-radius: 50%;
  border: #1dacff 3px solid;
}
.about-bio {
  grid-area: bio;
  font-size: 1.5rem;
}

.skills-grid {
  display: grid;
  padding: 1rem;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-areas: "skill1 skill2 skill3";
  grid-template-columns: repeat(3, 1fr);
}
.skills-1 {
  grid-area: skill1;
}
.skills-2 {
  grid-area: skill2;
}
.skills-3 {
  grid-area: skill3;
}
.skills-img {
  height: 50px;
  width: 50px;
  margin-left: 150px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.skills-img:hover {
  cursor: pointer;
  transition: 2.5s;
  /* Transition duration */
  transform: scale(1.09);
  -o-transform: rotate(720deg);
  -ms-transform: rotate(720deg);
  -moz-transform: rotate(720deg);
  -webkit-transform: rotate(720deg);
  transform: rotate(720deg);
}
.skills-Image {
  background-color: #1dacff;
  padding: 70px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 100px;
  object-fit: contain;
}
.skills-title {
  margin-bottom: 10px;
}
.skills-row {
  display: grid;
  row-gap: 0.7rem;
  column-gap: 0.7rem;
  padding: 0 1rem;
  margin-top: 10px;
  grid-template-columns: repeat(6, 1fr);
}
.skills-technologies h2 {
  padding: 0 1rem;
  margin-top: 10px;
}
.skills-tech-img {
  width: 60px;
  height: 60px;
  filter: grayscale(100%);
}
.skills-tech-img:hover {
  cursor: pointer;
  filter: none;
  transform: scale(1.09);
  transition: all 0.5s ease-in-out;
}

.skill {
  background: #4d4d4d;
  padding: 0.5rem;
  border-bottom: #1dacff 5px solid;
  color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3 {
  font-weight: 400;
}
h1.heading-lg,
h2.heading-lg,
h3.heading-lg {
  font-size: 6rem;
}
h1.heading-sm,
h2.heading-sm,
h3.heading-sm {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  background: rgba(5, 5, 5, 0.5);
}

.text-secondary {
  color: #1dacff;
}

section {
  height: 100vh;
}
section#about, section#skills {
  padding-top: 50px;
  background: #fff;
}

ul {
  list-style: none;
}

/*# sourceMappingURL=main.css.map */
